<!DOCTYPE html>
<html>

<head>
    <title>{{ parent_title.title }}</title>
</head>

<body>
    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
    <nav>
        <ul>
            {% for pt in parent_titles %}
            <li><a href="{% url 'parent_title_detail' pt.id %}">{{ forloop.counter }}. {{ pt.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <h1>{{ parent_title.id }}. {{ parent_title.title }}</h1>
    <p>{{ parent_title.description }}</p>
    <ul>
        {% for sub_title in parent_title.subtitle_set.all %}
        <li>
            <strong>{{ parent_title.id }}.{{ forloop.counter }} {{ sub_title.title }}</strong>
            <ul>
                {% for child_title in sub_title.childtitle_set.all %}
                <li>{{ parent_title.id }}.{{ sub_title.id }}.{{ child_title.id }} {{ child_title.title }} </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>

</html>