{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ parent_title.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                {% if user.is_authenticated %}
                <li class="nav-item">Hello, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                {% for pt in parent_titles %}
                <li class="nav-item"><a href="{% url 'parent_title_detail' pt.id %}">
                        {{ forloop.counter }}. {{ pt.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <main>
        <section class="content">
            <h1>{{ parent_title.id }}. {{ parent_title.title }}</h1>
            <p>{{ parent_title.description }}</p>
            <ul class="parent-list">
                {% for sub_title in parent_title.subtitles.all %}
                <li class="sub-title">
                    <strong>{{ parent_title.id }}.{{ forloop.counter }} {{ sub_title.title }}</strong>
                    <ul class="child-list">
                        {% for child_title in sub_title.childtitles.all %}
                        <li class="child-title">
                            {{ parent_title.id }}.{{ sub_title.id }}.{{ child_title.id }} {{ child_title.title }}
                            {% if user.account_type != 'Evaluation' %}
                            <button class="open-modal" data-child-id="{{ child_title.id }}">新增檔案或網址</button>
                            {% endif %}
                            <!-- 上傳檔案的表單對話框 -->
                            <div id="modal-{{ child_title.id }}" class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2>上傳檔案或提供網址</h2>
                                        <span class="close" data-child-id="{{ child_title.id }}">&times;</span>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" enctype="multipart/form-data"
                                            action="{% url 'parent_title_detail' parent_title.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="child_id" value="{{ child_title.id }}">
                                            <div class="form-group">
                                                <label>
                                                    <input type="radio" name="upload_option_{{ child_title.id }}"
                                                        value="file" checked
                                                        onclick="toggleUploadOption(this, '{{ child_title.id }}')"> 上傳檔案
                                                </label>
                                                <label>
                                                    <input type="radio" name="upload_option_{{ child_title.id }}"
                                                        value="url"
                                                        onclick="toggleUploadOption(this, '{{ child_title.id }}')"> 提供網址
                                                </label>
                                            </div>
                                            <div id="file-upload-{{ child_title.id }}" class="form-group">
                                                {{ form.file_name.label_tag }} {{ form.file_name }}
                                            </div>
                                            <div id="url-upload-{{ child_title.id }}" class="form-group"
                                                style="display:none;">
                                                {{ form.url.label_tag }} {{ form.url }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.file_description.label_tag }} {{ form.file_description }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.key.label_tag }} {{ form.key }}
                                            </div>
                                            <!-- 顯示表單錯誤信息 -->
                                            {% if form.non_field_errors %}
                                            <div class="error">{{ form.non_field_errors }}</div>
                                            {% endif %}
                                            {% if form.file_name.errors %}
                                            <div class="error">{{ form.file_name.errors }}</div>
                                            {% endif %}
                                            {% if form.url.errors %}
                                            <div class="error">{{ form.url.errors }}</div>
                                            {% endif %}
                                            {% if form.key.errors %}
                                            <div class="error">{{ form.key.errors }}</div>
                                            {% endif %}
                                            <div class="modal-footer">
                                                <button type="submit">Upload</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <!-- 顯示上傳的檔案 -->
                            <ul class="file-list">
                                {% for file in child_title.uploadfiles.all %}
                                <li>
                                    [佐證編號: {{ file.key }}]
                                    {% if file.file_name %}
                                    <a href="{{ file.file_name.url }}" target="_blank">{{ file.file_description }}</a>
                                    {% else %}
                                    <a href="{{ file.url }}" target="_blank">{{ file.file_description }}</a>
                                    {% endif %}
                                    <span>上傳人員: {{ file.uploaded_by.first_name }}</span>
                                    {% if user.account_type == 'General' %}
                                    {% if file.uploaded_by == user %}
                                    <form method="post" action="{% url 'delete_upload_file' file.id %}"
                                        style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="red-button">刪除</button>
                                    </form>
                                    {% endif %}
                                    {% elif user.account_type == 'Admin' %}
                                    <form method="post" action="{% url 'delete_upload_file' file.id %}"
                                        style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="red-button">刪除</button>
                                    </form>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>